body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Merriweather&display=swap");

#root {
  min-width: 50%;
  min-height: 50%;
  width: 100vw;
  height: 100vh;
  background-color: #101b2b;
  color: "white";
  overflow: hidden;
}

header {
  width: 100vw;
  background-color: #213758;
  color: white;
  font-family: "Roboto", sans-serif;
}

h5 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #56c5bc;
}

/*#ipopTitle img {
    margin-left : 20%;
    margin-right: -15%;
    margin-top: -14%;
    margin-bottom: -15%;
}
*/
#evioTitle label {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
}

#DetailsLabel {
  font-family: "Roboto", sans-serif;
}

#valueLabel {
  font-family: "IBM Plex Sans", sans-serif;
  color: #56c5bc;
}

#loading {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
}

#mainContent {
  width: 100%;
  height: 100vh;
}

#overlaysArea {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}

#cyArea {
  width: 100%;
  height: 95%;
}

/* customize overlay button */
.overlay {
  background: url("./images/icons/overlay_ic.svg") no-repeat;
  background-size: contain;
  width: 110px;
  height: 85px;
  border: none;
  outline: none;
  margin: auto;
}
.overlaySelected {
  background: url("./images/icons/overlaySelected_ic.svg") no-repeat;
  background-size: contain;
  width: 120px;
  height: 95px;
  border: none;
  outline: none;
  margin: auto;
}

.overlayBtn > button,
.connectedNodeBtn > button,
.sourceNodeBtn > button,
.detailsNodeBtn > button,
.detailsLinkBtn > button,
.targetNodeBtn > button {
  text-align: left;
  width: 100%;
  padding: 4%;
  outline: transparent;
  border: transparent;
  font-family: "Roboto", sans-serif;
}

.overlayBtn > button:focus,
.connectedNodeBtn > button:focus,
.detailsNodeBtn > button:focus,
.detailsLinkBtn > button:focus,
.sourceNodeBtn > button:focus,
.targetNodeBtn > button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.arrow {
  width: 10%;
}

.overlay_ic {
  width: 75%;
}

#rightPanel {
  padding: 0.5%;
  color: white;
  position: fixed;
  width: 19vw;
  height: 95vh;
  right: 0;
  background-color: #213758;
  z-index: 2;
  overflow-wrap: break-word;
  overflow-y: auto;
}

#viewBar {
  margin: auto;
  text-align: center;
}

#viewSelector {
  width: 15%;
}

#rightPanel::-webkit-scrollbar {
  display: none;
}

#rightPanelBtn {
  margin-top: 0.3%;
  margin-bottom: auto;
  margin-left: 0.25%;
  margin-right: 0.25%;
  padding: 0;
  right: 0;
  width: 30px;
  border: none;
  height: 30px;
  outline: none;
  /* position       : fixed; */
  background: url(./images/icons/menu_ic.svg) no-repeat;
  background-size: contain;
}

.overlayBtn,
.connectedNodeBtn,
.detailsNodeBtn,
.detailsLinkBtn,
.transmissionCard {
  border-radius: 3px;
  border: solid #486186;
  background-color: #405b80;
  margin-bottom: 2.5%;
}

.sourceNodeBtn {
  border-radius: 3px;
  /* border          : solid #8FD24D; */
  /* background-color: #8FD24D; */
}

.targetNodeBtn {
  border-radius: 3px;
  /* border          : solid #42B2C3; */
  /* background-color: #42B2C3; */
}

#breadcrumbPanelId {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 21px;
  left: 21px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
}

#rightPanel {
  padding: 0.5%;
  color: white;
  position: fixed;
  width: 19.5vw;
  right: 0;
  background-color: #213758;
  z-index: 3;
  overflow-wrap: break-word;
}

#toolsArea {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 21px;
  left: 21px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
}

#homeBtn,
#refreshBtn,
#infoBtn,
#zoomInBtn,
#zoomOutBtn,
#switchBtn,
#configBtn,
#breadcrum {
  outline: none;
  border: none;
  background: none;
  width: 60px;
  height: 60px;
  padding: 0;
}
.refreshBtnDisabled,
.configBtnDisabled,
.infoBtnDisabled,
.zoomOutBtnDisabled,
.zoomInBtnDisabled {
  opacity: 0.65;
  cursor: not-allowed;
}

#homeBtn {
  background-image: url("./images/icons/home_ic.svg");
  background-size: cover;
}

#switchBtn {
  width: 25px;
  height: 25px;
  background: url("./images/icons/swap_ic.svg") no-repeat;
  background-size: cover;
}

#refreshBtn {
  background-image: url("./images/icons/refresh_ic.svg");
  background-size: cover;
}

#infoBtn {
  background-image: url("./images/icons/info_ic.svg");
  background-size: cover;
}

.node_img {
  -webkit-transform: translateY(-2.5px);
  -ms-transform: translateY(-2.5px);
  transform: translateY(-2.5px);
  width: 100%;
}

.tunnel_img {
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
  width: 90%;
}

#configBtn {
  background-image: url("./images/icons/config_ic.svg");
  background-size: cover;
}

.popover {
  padding: 0.5%;
  /* width : fit-content; */
  width: 320px;
  max-width: unset;
}

.popover-header {
  background-color: white;
  border: none;
}

#zoomInBtn {
  background-image: url("./images/icons/plus_ic.svg");
  background-size: cover;
}

#zoomSlider {
  position: relative;
  margin-left: -14.2vh;
  margin-top: 15.5vh;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 35vh;
}

#zoomOutBtn {
  background-image: url("./images/icons/minus_ic.svg");
  background-size: cover;
}

.nodeMarker {
  outline: none;
  border: none;
  width: 70px;
  height: 70px;
  background: url("./images/icons/green_node_ic.svg") no-repeat;
  background-size: contain;
}

.markerLabel {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0;
  width: 60px;
  font-weight: bold;
}

.nodeMarker.selected {
  -webkit-transform: translate(-15%, -15%);
  -ms-transform: translate(-15%, -15%);
  transform: translate(-15%, -15%);
  outline: none;
  border: none;
  width: 100px;
  height: 100px;
  background: url("./images/icons/green_node_selected_ic.svg") no-repeat;
  background-size: contain;
}

#non-coordinate-card {
  font-family: "Roboto", sans-serif;
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  z-index: 5;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateX(-60%);
  -ms-transform: translateX(-60%);
  transform: translateX(-60%);
}

#non-coordinate-card > .card-header {
  font-size: large;
  text-align: center;
  padding: 2.5%;
  background-color: #213758;
}

#non-coordinate-card > .card-body {
  text-align: center;
  padding: 1%;
  background-color: #101b2b;
}

.nodeMarker {
  margin: 1%;
}

.breadcrumbName {
  color: white;
  -webkit-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateX(-10%);
}

#overlayBreadcrumb,
#elementBreadcrumb {
  position: absolute;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  width: 240px;
  height: 60px;
}

#overlayBreadcrumb {
  background: url("./images/icons/overlayBreadcrumb.svg") no-repeat;
  background-size: contain;
  -webkit-transform: translateX(25%);
  -ms-transform: translateX(25%);
  transform: translateX(25%);
}

#elementBreadcrumb {
  background: url("./images/icons/elementBreadcrumb.svg") no-repeat;
  background-size: contain;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.breadcrumbLabel {
  color: white;
  -webkit-transform: translateX(-6%);
  -ms-transform: translateX(-6%);
  transform: translateX(-6%);
}

.navBarRow {
  display: inline-block;
  margin-top: 15px;
}

.navBarBtn {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 6px;
  border: 3px solid #213758;
  box-shadow: 0 5px 5px #888888;
  transition: all 0.3s ease 0s;
}

.navBarBtn:hover {
  background-color: #56c5bc;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

/*.side-bar {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    border-left: 1px solid;
    border-radius: 0;
    border-color: rgba(64, 194, 133, 0.693);
    background-color: #3f716e;
    transition: 0.8s ease;
}*/

/*.toggle-menu {
    height: 50px;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 9rem;
    width: 10px;
    position: absolute;
    outline: none;
    z-index: 1;
    background-color: rgba(64, 194, 133, 0.693);
    border-color: rgba(64, 194, 133, 0.693);
    border-right: 0;
}*/

#SidePanel {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

/* Individual item */
.bm-item {
  /*display: inline-block;*/

  /* Our sidebar item styling */
  text-decoration: none;
  /*margin-bottom: 10px;*/
  /*color: #ffffff;*/
  /*transition: color 0.2s;*/
}

/* Change color on hover */
/*.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 70px;
  height: 70px;
  right: 15px;
  top: 10px;
  border-radius: 55%;
  border: 3px solid black;
  box-shadow: 0 5px 5px #888888;
  transition: transform 0.7s ease-in-out;
}

.bm-burger-button:hover {
  width: 75px;
  height: 75px;
  transform: rotate(360deg);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  /*background: #ddf3f1;*/
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #213758;
  padding: 0.3em 0.3em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  /*fill: #373a47;*/
}

/* Wrapper for item list */
.bm-item-list {
  /*color: #b8b7ad;*/
}

/* Styling of overlay */
.bm-overlay {
  /*background: rgba(0, 0, 0, 0.3);*/
}
